._lvx{margin:0 -14px 0 -15px}._2i-v{margin-left:auto;width:518px}._2i-w{color:#616770;margin-top:65px;text-align:center;width:518px}
.ie11 ._64nv{min-height:100%}._64nv{border-bottom:1px solid #e9ebee;min-height:200px;padding:12px 10%;text-align:center}._64n_{font-size:24px;font-weight:bold;line-height:28px;width:100%}
._64nu{width:321px}

#bootloader_iddsR{height:42px;}.bootloader_iddsR{display:block!important;}