html{
    background-image:url("pictures/blackbackground.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    text-align: center;
    font-family:Rockwell;
    }
    
.button {
        color: #719ebf;
        background-color:none;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: -15x;
        cursor: pointer;
}
.button:hover{
    color:#608dad;
}

.title {
    font-size:8rem;
    font-size:8rem;

}
.nav{
    background-color:none;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.shows {
    color:#719ebf;
}
.photots {
    margin: 100px;
}