@font-face{font-family:aqua;src:url(home/Aqua.ttf)}
html{
    background-image: url(pictures/grad1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top ;
    text-align: center;
    font-family:aqua;
    margin: 0;
    height:8%;
    width:100%;
    }

.button {
        display: flex;
        color: black;
        background-color:none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        cursor: pointer; 
        padding-left:10%
}
.button:hover{
    color:green;
}
.left_indent{
    padding-left:70%;
}
.right_indent{
    padding-right:30%;
}
.title {
    font-size:8rem;
    font-size:8rem;

}
.fatherfiguericon{
    display:flex;
    padding-left:5%;
    width:500px;
    height:400px;
}
.nav{
    display:flex;
    flex-wrap:nowrap;
    background-color:none;
    max-width:10%;
    text-align: left;
    justify-content: space-between;
    max-height: 500px;
}
.socialmedia{
    display:flex;
    flex-wrap:nowrap;
    background-color:none;
    max-width:25%;
    text-align: center;
    justify-content: space-between;
    padding-left: 5%;
    margin:0;
}
    
}
.shows {
    color:white;
}
.photots {
    margin: 100px;
}

