@font-face{font-family:aqua;src:url(home/Aqua.ttf)}
html{
    background: -moz-linear-gradient(57deg, rgba(142,202,237,1) 0%, rgba(245,252,252,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(142,202,237,1)), color-stop(100%, rgba(245,252,252,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(57deg, rgba(142,202,237,1) 0%, rgba(245,252,252,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(57deg, rgba(142,202,237,1) 0%, rgba(245,252,252,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(57deg, rgba(142,202,237,1) 0%, rgba(245,252,252,1) 100%); /* ie10+ */
background: linear-gradient(33deg, rgba(142,202,237,1) 0%, rgba(245,252,252,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5FCFC', endColorstr='#8ECAED',GradientType=0 ); /* ie6-9 */
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top ;
    text-align: center;
    font-family:aqua;
    margin: 0;
    height:100%;
    width:100%;
    background-attachment: fixed;
    }

.button {
        display: flex;
        color: black;
        background-color:none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        cursor: pointer; 
        margin:20px;
}
.button2 {
        display: flex;
        background-color:none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        justify-content: space-between
        max-height:400px;
        margin-bottom:33px;
        flex-wrap:nowrap;
        float:right;
        
    
    
}
.fbbutton{
    background-color:none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        padding:0;
    margin:0;
}
.shows1{
    background-image:url(pictures/shows6.png); 
   background-size: 80px 60px;
    height:60px;
    width:80px;
    
}
.text{
    text-align: left;
    padding-left: 40%;
}
.bold{
    font-weight:bold;
}
}
.photos{
   background-image:url(pictures/photos6.png); 
    background-size: 70px 90px;
    height:20%;
    width:20%;
}
.about{
    background-image: url(pictures/about7.png);
   background-size: 80px 60px;
    height:60px;
    width:80px;
}
.music{
     background-image: url(pictures/music6.png);
    background-size: 80px 60px;
    height:60px;
    width:80px;
}
.contact{
    background-image: url(pictures/contact6.png);
    background-size: 80px 60px;
    height:60px;
    width:80px;
}
.button:hover{
    color:dodgerblue;
}
.left_indent{
    padding-left:300%;
}
.right_indent{
    padding-right:30%;
}
.title {
    font-size:8rem;
    font-size:8rem;

}
.fatherfiguericon{
    display:flex;
    padding-left:5%;
    width:500px;
    height:400px;
    float:left;
}
.aboutpicture{
    display:flex;
    width:650px;
    height:650px;
    transform: rotate(270deg);
    align-content: center;
    
}

.nav{
    display:flex;
    float:right;
    flex-direction:column;
    float:right;
    background-color:none;
    justify-content:space-between;
    padding-right:30%;
    max-height: 400px;
   

}
.socialmedia{
    display:flex;
    flex-wrap:nowrap;
    background-color:none;
    max-width:250px;
    text-align: center;
    justify-content: space-between;
    padding-left: 6%;
    margin:0;
}
    
}
.shows {
    color:white;
}
.photots {
    margin: 100px;
}

